.input {
    background: #323232;
    border: none;
    padding: 10px 20px;
    width: 200px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number]{
    -moz-appearance: textfield;
}